@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300;1,900&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,700&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:ital,wght@0,300;1,200;1,300;1,900&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,700&family=Young+Serif&display=swap");

// variables
$gabrito: "Gabarito", sans-serif;
$poppins: "Poppins", sans-serif;
$young: "Young Serif", serif;

$blue: #00239c;
$dark: #212534;
$white: #f2f5ff;
$red: #ab4e68;
$warning: #c5bc05;
$gray: #999999;

//querries
$xxs: 320px;
$xxsh: 425px;
$xls: 600px;
$xlsb: 692;
$xlsh: 500px;
$xms: 375px;
$sm: 500px;
$smb: 576px;
$md: 780px;
$lgh: 930px;
$mdb: 991px;
$lg: 1024px;
$lgb: 1200px;
$lgd: 1166px;
$xlg: 1600px;
$xlg1920: 1920px;
$xxlg: 5000px;

// mixins

@mixin transition {
  transition: all 0.5s ease-out;
}

@mixin background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin svg-interaction {
  svg {
    path,
    circle,
    rect {
      @include transition;
    }

    &:hover {
      path,
      circle,
      rect {
        stroke: $white;
      }
    }
  }
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin mqh($size) {
  @media screen and (max-height: $size) {
    @content;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: (7px);

    @include mq($xls) {
      display: none;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;

    @include mq($xls) {
      display: none;
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 10px;

    @include mq($xls) {
      display: none;
    }
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: lighten($color: $dark, $amount: 10);

    @include mq($xls) {
      display: none;
    }
  }
}

@function pxToVh($element) {
  @return #{($element/1080) * 100}vh;
}

@function pxToVw($element) {
  @return #{($element/1920) * 100}vw;
}

@function pxToEm($element) {
  @return #{$element/16}em;
}

@function toPerc($element) {
  @return #{$element * 100%};
}

@mixin iconBtn {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  background-color: $white;
  @include mq($lg) {
    height: 35px;
  }
  @include mq($mdb) {
    height: 40px;
  }
  @include mq($small-device) {
    height: 30px;
  }
  .icon {
    @include mq($lg) {
      font-size: 20px;
    }
    @include mq($mdb) {
      font-size: 30px;
    }
    @include mq($small-device) {
      font-size: 20px;
    }
  }
}

@mixin h1 {
  font-size: pxToEm(30);
  font-family: $young;
  @include mq($lg) {
    font-size: pxToEm(20);
  }
  @include mq($sm) {
    font-size: pxToEm(16);
  }
}

@mixin p {
  font-size: pxToEm(14);
  font-family: $poppins;
  @include mq($lg) {
    font-size: pxToEm(12);
  }
  @include mq($sm) {
    font-size: pxToEm(10);
  }
}

@mixin h4 {
  font-size: pxToEm(16);
  @include mq($sm) {
    font-size: pxToEm(14);
  }
  @include mq($sm) {
    font-size: pxToEm(12);
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  @include scroll-bar;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
    font-family: $poppins;
  }
}
* {
  box-sizing: border-box;
  font-family: $poppins;
}

code {
  font-family: $poppins;
}

//curve
.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: $dark;
  stroke: none;
}

//demo to delete
.card_product {
  height: 100vh;
  background-color: $dark;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  width: 100vw;
  padding: 50px;
  @include mq($xlg) {
    padding: 30px;
  }
  @include mq($lg) {
    padding: 20px;
  }
  @include mq($md) {
    padding: 15px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    background-color: transparent;
    .singleProduct {
      width: calc(100% / 5 - 40px);
      aspect-ratio: 1/1.2;
      height: auto;
      padding: 0;
      margin: 0;
      border-radius: 16px;
    }
  }
}

//  close button
.header {
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 1;

  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}

// card product
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  width: 100%;
  height: 100%;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  @include h4;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}
